body {
    background-attachment: fixed;
    background-color: #FFFFFF;
    background-image: url(/static/images/MapBackground.jpg);
    background-position: center bottom;
    color: #A90123;
    margin: 5;
    padding: 5;
    font-family: Ubuntu;
}

#pageContainer {
    background: url(/static/images/Logo.jpg) no-repeat scroll right top #FFFFCC;
    background-size: 100px 40px;
    margin: 5 auto;
    padding: 15;
    position: relative;
    width: 950px;
    min-height: 500px;
}

