html {
		margin:0;
		padding:0;
		color:#000;
		background:#FFFFFF;
        font-family: "Arial";
	}
#pageContainer {
		width:1020px;
		margin:0 auto;
        background: url(/static/images/Logo.jpg) no-repeat scroll right top #FFFFFF;
        background-size: 120px 50px;
	}
#id_autocomplete {
        width: 500px;
        font-size: 15px;
    	padding:5px 10px;
		background:#ddd;
	}
h1 {
	    margin:5;
    }
#map {
		float:left;
		width:750px;
		padding:5px;
		background:#FFFFFF;
	}
h2 {
		margin:0 0 1em;
	}
#datasetInfo {
		float:right;
		width:250px;
		padding:5px;
		background:#FFFFFF;
	}
#footer {
		clear:both;
		padding:5px 10px;
		background:#ddd;
	}
#footer p {
		margin:0;
    }
* html #footer {
		height:1px;
	}
	


