	<style>
	.ui-autocomplete {
		max-height: 150px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-right: 20px;
	}
	</style>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script>
  $(document).ready(function() {
    $("input#id_autocomplete").autocomplete({
    source: [
{% for data in Datasets %}
    {% if forloop.last %}
        "{{ data.name }}"
    {% else %}
        "{{ data.name }}",
    {% endif %}
{% endfor %}    
                ]});
     });
  </script>
