{% extends 'base.html' %}
<title>Health Map</title>

{% block extrahead %}
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $("input#autocomplete").autocomplete({
    source: [
{% for data in Datasets %}
    {% if forloop.last %}
        "{{ data.name }}"
    {% else %}
        "{{ data.name }}",
    {% endif %}
{% endfor %}    
    ]
});
  });
  </script>
{% endblock %}	
{% block content %}

<form action="" method="post">

	<label for="tags">Tags: </label><input id="autocomplete" />
</form>

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=AIzaSyCBo3eZFzgJ_u2Wz7ZOVeHz24wjgpmsMGE" type="text/javascript"></script>
  <body onunload="GUnload()">

    <div id="map" style="width: 750px; height: 600px"></div>

    <noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
      However, it seems JavaScript is either disabled or not supported by your browser. 
      To view Google Maps, enable JavaScript by changing your browser options, and then 
      try again.
    </noscript>
 

    <script type="text/javascript">
    //<![CDATA[

    if (GBrowserIsCompatible()) {

      var polys = [];
      var labels = [];


      // === A method for testing if a point is inside a polygon
      // === Returns true if poly contains point
      // === Algorithm shamelessly stolen from http://alienryderflex.com/polygon/ 
      GPolygon.prototype.Contains = function(point) {
        var j=0;
        var oddNodes = false;
        var x = point.lng();
        var y = point.lat();
        for (var i=0; i < this.getVertexCount(); i++) {
          j++;
          if (j == this.getVertexCount()) {j = 0;}
          if (((this.getVertex(i).lat() < y) && (this.getVertex(j).lat() >= y))
          || ((this.getVertex(j).lat() < y) && (this.getVertex(i).lat() >= y))) {
            if ( this.getVertex(i).lng() + (y - this.getVertex(i).lat())
            /  (this.getVertex(j).lat()-this.getVertex(i).lat())
            *  (this.getVertex(j).lng() - this.getVertex(i).lng())<x ) {
              oddNodes = !oddNodes
            }
          }
        }
        return oddNodes;
      }



      // Display the map, with some controls and set the initial location 
      var map = new GMap2(document.getElementById("map"));
      map.addControl(new GLargeMapControl());
      map.addControl(new GMapTypeControl());
      map.setCenter(new GLatLng(33.1,-95),4);


      GEvent.addListener(map, "click", function(overlay,point) {
        if (!overlay) {
          for (var i=0; i<polys.length; i++) {
            if (polys[i].Contains(point)) {
              map.openInfoWindowHtml(point,"You clicked on "+labels[i]);
              //i = 999; // Jump out of loop
            }
          }
        }
      });

      // defaults
      var line_color = "#AAA000";
      var opaque = 0.5;
      
      // working vars
      var color = "";
      var pts = [];
      var i = 0;

{% for row in dataset.datarow_set.all %}
    {% if row.region.state != "OO" %}
            color = "#FFF000";
            pts = [];
            i = 0;

    // Polylines for a region
    {% for line in row.region.polyline_set.all %}
               pts[i++] = new GLatLng(parseFloat({{ line.lat }}), parseFloat({{ line.lng }}));
    {% endfor %}
            var poly = new GPolygon(pts,line_color,1,1,"{{ row.color }}",opaque,{clickable:false});
            polys.push(poly);
            labels.push("{{ row.region.state }}");
            map.addOverlay(poly);
    {% endif %}
{% endfor %}

      request.send(null);

    }
    
    // display a warning if the browser was not compatible
    else {
      alert("Sorry, the Google Maps API is not compatible with this browser");
    }

    </script>
  </div>

{% endblock %}

