{% extends 'base.html' %}
{% block extrahead %}
{% include "autocomplete.html" %}
{% endblock %}
	
{% block content %}

<form action="/lookup/" method="post">
{% csrf_token %}
	<label for="tags">Tags: </label>{{ form.autocomplete }}<input type="submit" value="Map" alt="Map"/>
</form>

<div id='datasetInfo'>
<img src="/static/images/wait.gif" id="wait" height="35" width="35" /> <br>
{%  if dataset.name != "Empty" %}
    Map: <b>{{ dataset.name }} </b> <br>
    {{ dataset.description }} <br>
    {% if dataset.imageURL|length > 0 %}
        <img src="{{ dataset.imageURL }}" alt="Dataset image" height="100" width="100" /> 
    {% endif %}
    <br>
    <table>

    {% for range in dataset_range %}
    <tr><td><font size=2>
     <span style="background-color:{{ range.color }}">&nbsp;&nbsp;&nbsp;&nbsp; </span> &nbsp;
        {{ range.name }}</td><tr><td><font size=2>
        {{ range.low|floatformat:1 }} - {{ range.high|floatformat:1 }}
    </font></td></tr>
    {% endfor %}
    </table>
{% endif %}
</div>

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=AIzaSyCBo3eZFzgJ_u2Wz7ZOVeHz24wjgpmsMGE" type="text/javascript"></script>
  <body onunload="GUnload()">

    <div id="map" style="width: 750px; height: 600px">

    <noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
      However, it seems JavaScript is either disabled or not supported by your browser. 
      To view Google Maps, enable JavaScript by changing your browser options, and then 
      try again.
    </noscript>
 

    <script type="text/javascript">
    //<![CDATA[

    if (GBrowserIsCompatible()) {
      var polys = [];
      var labels = [];
      GPolygon.prototype.Contains = function(point) {
        var j=0;
        var oddNodes = false;
        var x = point.lng();
        var y = point.lat();
        for (var i=0; i < this.getVertexCount(); i++) {
          j++;
          if (j == this.getVertexCount()) {j = 0;}
          if (((this.getVertex(i).lat() < y) && (this.getVertex(j).lat() >= y))
          || ((this.getVertex(j).lat() < y) && (this.getVertex(i).lat() >= y))) {
            if ( this.getVertex(i).lng() + (y - this.getVertex(i).lat())
            /  (this.getVertex(j).lat()-this.getVertex(i).lat())
            *  (this.getVertex(j).lng() - this.getVertex(i).lng())<x ) {
              oddNodes = !oddNodes
            }
          }
        }
        return oddNodes;
      }

      // Display the map, with some controls and set the initial location 
      var map = new GMap2(document.getElementById("map"));
      map.addControl(new GLargeMapControl());
      map.addControl(new GMapTypeControl());
      map.setCenter(new GLatLng(33.1,-95),4);


      GEvent.addListener(map, "click", function(overlay,point) {
        if (!overlay) {
          for (var i=0; i<polys.length; i++) {
            if (polys[i].Contains(point)) {
              map.openInfoWindowHtml(point,"You clicked on "+labels[i]);
              //i = 999; // Jump out of loop
            }
          }
        }
      });

      // defaults
      var line_color = "#AAA000";
      var opaque = 0.75;
      
      // working vars
      var color = "";
      var pts = [];
      var i = 0;

      $.getJSON('dataset_gis/?id={{ dataset.id }}', 
      function(data) {
          for (var row=0; row<data.length; row++)    {
              pts = [];
              for (var line=0; line<data[row].points.length; line++)
                {   pts[line] = new GLatLng(parseFloat(data[row].points[line].lat), parseFloat(data[row].points[line].lng));   } 
              var poly = new GPolygon(pts, line_color, 1,1, data[row].color, opaque, {clickable:false});
              polys.push(poly);
              labels.push(data[row].state + '  ' + data[row].county);
              map.addOverlay(poly);
          };
      document.getElementById('wait').style.visibility = 'hidden'; 

      });    
    }
    
    // display a warning if the browser was not compatible
    else {
      alert("Sorry, the Google Maps API is not compatible with this browser");
    }

    </script>

  </div>

{% endblock %}

