{% extends 'base.html' %}
{% block extrahead %}
{% include "autocomplete.html" %}
{% endblock %}
	
{% block content %}

<table><tr><td>
<form action="/lookup/" method="post">
{% csrf_token %}
	<label for="tags">Search: </label>{{ form.autocomplete }}<input type="submit" style="height: 32px; width: 55px" value="Map" alt="Map"/>
{{form.latitude.as_hidden }}
{{form.longitude.as_hidden }}
</form></td><td>
<form action="/random/" method="post">
{% csrf_token %}
	<input type="submit" style="height: 32px; width: 75px" value="Random" alt="Map"/>
</form></td></td>
<div id='wait'>
<img src="/static/images/wait_spiral.gif" id="wait" height="40" /> <br>
</div></td>
</tr>
</table>


 <div id="map" style="height: 600px">


    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=AIzaSyCBo3eZFzgJ_u2Wz7ZOVeHz24wjgpmsMGE" type="text/javascript">
        
    </script>
  <body onunload="GUnload()">

    <noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
      However, it seems JavaScript is either disabled or not supported by your browser. 
      To view Google Maps, enable JavaScript by changing your browser options, and then 
      try again.
    </noscript>
 

    <script type="text/javascript">
    //<![CDATA[

    if (GBrowserIsCompatible()) {
      var polys = [];
      var labels = [];
      GPolygon.prototype.Contains = function(point) {
        var j=0;
        var oddNodes = false;
        var x = point.lng();
        var y = point.lat();
        for (var i=0; i < this.getVertexCount(); i++) {
          j++;
          if (j == this.getVertexCount()) {j = 0;}
          if (((this.getVertex(i).lat() < y) && (this.getVertex(j).lat() >= y))
          || ((this.getVertex(j).lat() < y) && (this.getVertex(i).lat() >= y))) {
            if ( this.getVertex(i).lng() + (y - this.getVertex(i).lat())
            /  (this.getVertex(j).lat()-this.getVertex(i).lat())
            *  (this.getVertex(j).lng() - this.getVertex(i).lng())<x ) {
              oddNodes = !oddNodes
            }
          }
        }
        return oddNodes;
      }

      // Display the map, with some controls and set the initial location 
      var map = new GMap2(document.getElementById("map"));
      map.addControl(new GLargeMapControl());
      map.addControl(new GMapTypeControl());
      {% if dataset.mapzoom != None and dataset.mapzoom|length > 0 %}
          map.setCenter(new GLatLng({{ dataset.maplatitude }}, {{ dataset.maplongitude }}), {{ dataset.mapzoom }});
      {% else %}
          map.setCenter(new GLatLng(33.1,-95),4);
      {% endif %}



$(document).ready(function () {
    // wire up button click
        // test for presence of geolocation
        if (navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(geo_success, geo_error);
        } else {
            error('Geolocation is not supported.');
        }
});

function geo_success(position) {
	 var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
     var point = new GLatLng(position.coords.latitude, position.coords.longitude);
     map.addOverlay(new GMarker(point));

     printLatLong(String(position.coords.latitude), String(position.coords.longitude));
    // place geo-coordinates in form hidden fields
    document.getElementById('id_latitude').value = String(position.coords.latitude);
    document.getElementById('id_longitude').value = String(position.coords.longitude);
}

function geo_error(err) {
    if (err.code == 1) {
        console.log('The user denied the request for location information.')
    } else if (err.code == 2) {
        console.log('Your location information is unavailable.')
    } else if (err.code == 3) {
        console.log('The request to get your location timed out.')
    } else {
        console.log('An unknown error occurred while requesting your location.')
    }
}

function printLatLong(lat, long) {
    var theDiv = document.getElementById('footer');
    var content = document.createTextNode('  (Your coordinates: Lat: ' + lat.substring(0,8) + ' Long: ' + long.substring(0,8) + ')');
    theDiv.appendChild(content);
}

function error(msg) {
    alert(msg);
}


      GEvent.addListener(map, "click", function(overlay,point) {
        if (!overlay) {
          for (var i=0; i<polys.length; i++) {
            if (polys[i].Contains(point)) {
              map.openInfoWindowHtml(point,""+labels[i]);
              //i = 999; // Jump out of loop
            }
          }
        }
      });

      // defaults
      var line_color = "#AAA000";
      var opaque = 0.75;
      
      // working vars
      var color = "";
      var pts = [];
      var i = 0;

      $.getJSON('dataset_gis/?id={{ dataset.id }}', 
      function(data) {
          for (var row=0; row<data.length; row++)    {
              pts = [];
              for (var line=0; line<data[row].points.length; line++)
                {   pts[line] = new GLatLng(parseFloat(data[row].points[line].lat), parseFloat(data[row].points[line].lng));   } 
              var poly = new GPolygon(pts, line_color, 1,1, data[row].color, opaque, {clickable:false});
              polys.push(poly);
              labels.push(data[row].state + '  ' + data[row].county + ' (' + data[row].value + ')');
              map.addOverlay(poly);
          };
      document.getElementById('wait').style.visibility = 'hidden'; 

      });    
    }
    
    // display a warning if the browser was not compatible
    else {
      alert("Sorry, the Google Maps API is not compatible with this browser");
    }

    </script>

  </div>

<div id='datasetInfo'>
{%  if dataset.name != "Empty" %}
    <font color="blue"><b>{{ dataset.name }} </b></font> <br>
    {{ dataset.description }} <br>
    {% if dataset.citations|length > 0 %}
    <small>(source:{{ dataset.citations }}) </small><br>
    {% endif %}
    {% if dataset.imageURL|length > 0 %}
        <img src="{{ dataset.imageURL }}" alt="Dataset image" height="100" /> 
    {% endif %}
    <br>
    <table>
    {% for range in dataset_range %}
    <tr><td><font size=2>
     <span style="background-color:{{ range.color }}">&nbsp;&nbsp;&nbsp;&nbsp; </span> &nbsp;
        {{ range.name }}</td><tr><td><font size=2>
        {{ range.low|floatformat:1 }} - {{ range.high|floatformat:1 }}
    </font></td></tr>
    {% endfor %}
    </table>
{% else %}
    <font color="blue"> <small>Enter search words <br>or click 'Random' to get map </small></font> <br>
{% endif %}

<br>
<a href="/history"><img src="/static/images/history_icon.png" id="history" alt="search history" height="35" width="35" /></a>
<a href="http://www.facebook.com/USHealthMap" target="_blank"><img src="/static/images/fb_icon.png" height="35" width="35" /></a>
<a href= "mailto:info@healthmap.us" ><img src="/static/images/email_icon.png" id="email" alt="Email us" height="35" width="35" /></a>
 <br>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

 <div class="fb-like" data-href="http://www.facebook.com/USHealthMap" data-send="true" data-layout="box_count" data-width="450" data-show-faces="true"></div>

</div>

<div id="footer">
<a href= "mailto:info@healthmap.us" >HealthMap.us (2012)</a>

</div>
{% endblock %}

