    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCBo3eZFzgJ_u2Wz7ZOVeHz24wjgpmsMGE&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
      }
    </script>
